input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  html {
    background-color: black;
  }

  label {
    content: '🎀';
    cursor: pointer;
    text-indent: -9999px;
    width: 60px; 
    height: 30px; 
    background: pink;
    display: block;
    border-radius: 30px; 
    position: absolute; 
    top: 10px; 
    right: 10px; 
  }
  
  label:after {
    content: '💀';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px; 
    height: 20px; 
    background: #fff;
    border-radius: 20px; 
    transition: 0.3s;
  }
  
  input:checked + label {
    content: '🎀';
    background: black;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 25px; 
  }
  
  body {
    height: 100vh;
    margin: 0; 
    position: relative; 
  }

  .title{
    margin-bottom: 20px;
    font-size: 50px;
    color: pink;
    text-align: center;
  }

  .translator-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }

  #input-textbox{
    margin-right: 20px;
    height: 100px;
    width: 300px;
  }

  #output-textbox{
    height: 100px;
    width: 300px;
  }

  

  
